<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- CSS only -->
    <link rel="stylesheet" href="~/assets/styles/main.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/styles/index.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/styles/alerts.css" asp-append-version="true">

    @RenderSection("css",false)
</head>


<body>

    <section class="container">
        <div class="grid-container">
            <div class="sidebar">
                <div class="sticky">
                    <img src="~/assets/images/profile.png" alt="profile">
                    <a asp-action="Index" asp-controller="Project" class="dev-name">
                        Mohamed AlQadeery
                    </a>
                    <p class="job-text">Web Developer</p>
                    <p class="email">moh9amad1@gmail.com</p>
                    <div class="socials">
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-twitch"></i></a>
                        <a href="#"><i class="bi bi-github"></i></a>
                    </div>

                    <div class="btn-div">
                        <a asp-action="Create" asp-controller="Project" class="bootstrap-btn">Create Project</a>
                        <a asp-action="Index" asp-controller="Post" class="bootstrap-btn" style="background-color:green">Posts</a>

                    </div>
                    <div class="sidebar-footer">
                        Created By <i class="bi bi-heart-fill heart"></i> Mohamed AlQadeery
                    </div>

                    
                </div>


            </div>

            <div class="content">
                @if (TempData["success"] != null)
                {
                    <div class="alert alert-success success-operation" style="margin:1em;">
                        @TempData["success"]
                    </div>
                }

                @RenderBody()
            </div>
        </div>
    </section>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @RenderSection("js",false)

</body>

</html>