@model List<Post>

@section css {
<link rel="stylesheet" href="~/assets/styles/blog-list.css" asp-append-version="true">

}


<div class="flex-container">
   
    @if (!Model.Any())
    {
                <h1 class="heading">No Posts Added yet</h1>       
  <a asp-action="Create" asp-controller="Post" class="bootstrap-btn">Create Post</a>

    
    }
    else
    {
      <div>
            <a asp-action="Create" asp-controller="Post" class="bootstrap-btn">Create Post</a>

      </div>

        foreach (var post in Model)
         {
             <div class="blog-item">
        <p class="blog-date"><i><i class="bi bi-clock"></i></i>@post.CreatedAt.ToString("MM/dd/yyyy")</p>
       
        <a asp-action="Show" asp-controller="Post" asp-route-id="@post.Id" class="blog-title">@post.Title</a>
        <p class="blog-text">
            @post.Body.Substring(0,post.Body.Length/4)
        </p>
        <a asp-action="Show" asp-controller="Post" asp-route-id="@post.Id"><span class="blog-link">Read More </span></a>
    </div>
         }

    }




</div>